@import './fonts.css';
@import './theme.css';
/* Remova o @import './tailwind.css' se ele for apenas as diretivas @tailwind base... 
   Pois o @import "tailwindcss" no arquivo raiz jรก resolve isso. */